<div class="top-white-line h-px bg-white mt-24 mb-4"></div>


<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 pt-16 pb-48">
  <!-- Get image -->
  {{ $img := resources.Get .Params.featured_image }}

  <!-- Resize image as a test it's working -->
  {{- $desktop := $img.Resize "1100x" }}
  {{- $mobile := $img.Resize "800x" }}

  <div class="block col-span-2 h-[550px] max-w-4xl md:p-16 bg-stone-800 bg-opacity-80">
    <a href="{{ .RelPermalink }}" class="block w-full h-full  hover:scale-105 transition duration-1000">
      <picture class="">
        <source media="(max-width:401px)" srcset="{{ $mobile.RelPermalink }}">
        <img src="{{ $desktop.RelPermalink }}" class="h-full w-full object-cover shadow-2xl bg-emerald-300 p-4 bg-opacity-30">
      </picture>
    </a>
  </div>


  <div class="article-info relative mt-12">
    <span class="bg-letter absolute -top-40 -mt-2 -left-4 opacity-10">{{ substr .Title 0 1 }}</span>
    <span class="text-green-500">{{ .Date.Format "January 2, 2006" }}</span>
    <a href="{{ .RelPermalink }}" class="block hover:text-green-700 transition duration-500"><h2 class="mt-0 mb-8">{{ .Title }}</h2></a>
    <p>{{ .Params.excerpt }}</p>
    <hr class="border-green-500">
    <p class="mt-4">{{ .ReadingTime }} min read</p>
  </div>
</div>