@tailwind base;

@tailwind components;

@tailwind utilities;


/**************************************************************************** TYPOGRAPHY */
p {margin-bottom: 1.15rem;}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 2.75rem 0 .85rem;
}

h1 {
  font-size: 3.052em;
  font-weight: 800;
}

h2 {
  font-size: 2.441em;
  font-weight: 700;
}

h3 {
  font-size: 1.953em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 300;
}

a:not([class]){
  @apply  underline hover:text-green-700 transition duration-300;
}

pre{
  @apply my-8 py-8 px-4 bg-gray-800 rounded-sm shadow-md;
}

code{
  @apply bg-gray-800 text-yellow-500 rounded-sm p-px;
}



#work .case-study{
  height: 450px;
}