@tailwind base;

@tailwind components;

@tailwind utilities;


/**************************************************************************** TYPOGRAPHY */

html, body{
  
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  opacity: 1 !important;
}

p {
  font-size: 24px;
  margin-bottom: 1.15rem;
  line-height:1.7;
}

span{
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 2.75rem 0 .85rem;
}

h1 {
  font-size: 2.852em;
  font-weight: 800;
}

h2 {
  font-size: 2.641em;
  font-weight: 700;
}

h3 {
  font-size: 2.353em;
  font-weight: 600;
}

h4 {
  font-size: 2.15em;
  font-weight: 400;
}

h5 {
  font-size: 1.95em;
  font-weight: 300;
}

a:not([class]){
  @apply  underline hover:text-green-700 transition duration-300;
}


@media(min-width:768px) {
  h1 {
    font-size: 3.052em;
    font-weight: 800;
  }
  
  h2 {
    font-size: 2.741em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.553em;
    font-weight: 600;
  }
  
  h4 {
    font-size: 2.35em;
    font-weight: 400;
  }
  
  h5 {
    font-size: 2.05em;
    font-weight: 300;
  }

  p {
    font-size: 28px;
    margin-bottom: 1.15rem;
    line-height:1.7;
  }

  span{
    font-size: 24px;
  }
}

/******************************************************************** Lists and Block-quotes */
ol, ul:not([class]){
  list-style: initial !important;
  margin-bottom: 1.15rem !important;
  font-size: 24px;
}

ol, ul:not([class]){
  margin-left: 50px !important;
}

ol{
  list-style-type: decimal !important;
}


pre{
  @apply my-8 py-8 px-4 bg-stone-900 bg-opacity-80 rounded-sm shadow-md;
}

code{
  @apply bg-stone-900 bg-opacity-80 text-green-500 rounded-sm p-px;
}

.large-text{
  font-size: 10rem;
}


/**************************************************************************** MENU */
.logo{
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}


.burger {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all .5s ease;
}
.burger:hover, .burger.active {
  background: rgb(0, 98, 0);
}
.burger-strip {
  transition: all .5s ease;
}
.strip div {
  height: 3px;
  border-radius: 2px;
  background: rgb(56 56 56);
  margin: 10px;
  transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
}
.burger:hover .strip div, .burger.active .strip div {
  background: white;
}
/* BURGER 1 */
.burger-strip div:first-child {
  width: 16px;
}
.burger-strip div:last-child {
  width: 28px;
}
.burger.active .burger-strip div:first-child{
  transform: rotate(45deg) translateY(1px) translateX(5px);
}
.burger.active .burger-strip div:nth-child(2){
  transform: rotate(-45deg);
}
.burger.active .burger-strip div:last-child{
  transform: rotate(45deg) translateY(-13px) translateX(2px);
}

/**************************************************************************** BAMBOO DOORS */
.bamboo-doors > div{
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.bamboo-left.remove{
  transform: translateX(-100%);
}

.bamboo-right.remove{
  transform: translateX(100%);
}

.bamboo-left.remove, .bamboo-right.remove{
  /* opacity:0; */
  transition: all 1s ease-in-out;
}

/**************************************************************************** HP HEADER */

.text-border{
  position: relative;
}

.text-border::after{
  position: absolute;
  bottom: 0px;
  left:0;
  transition: all ease-in-out 1s;
  background: none repeat scroll 0 0 rgb(22 163 74);
  content: "";
  display: inline-block;
  height: 4px;
  width: 0;
}

.text-border.active::after{
  width: 100%;
}


/**************************************************************************** WORK LIST */

.filter.active{
  @apply text-green-600 border-green-600;
}

#work .case-study{
  min-height: 250px;
}

.case-study-title, .case-study-btn{
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.case-study-overlay:hover .case-study-title{
  opacity:1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.case-study-overlay:hover .case-study-btn{
  opacity:1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

@media(min-width: 768px){
  #work .case-study{
    height: 450px;
  }
}


/**************************************************************************** WORK DETAIL */

.fold-up{
  height:0;
  transition: all 1s ease-in-out;
}

/**************************************************************************** ARTICLES */
.article-info{
  opacity:0;
  transform: translateY(20%);
}

.article-info.active{
  opacity:1;
  transform: translateY(0);
  transition: all .75s ease-in-out;
}

.top-white-line{
 width:0;
}

.top-white-line.active{
  width:100%;
  transition: all 1s ease-in-out;
}

.bg-letter{
  font-size:18rem;
}


/**************************************************************************** HP SHOWCASE */
.slick-track{
    display: flex !important;
}

.slick-slide{
    height: inherit !important;
}


/**************************************************************************** HP SKILLS */
.fade-up{
  opacity:0;
  transform: translateY(20%);
}

.fade-up.active{
  opacity:1;
  transform: translateY(0);
  transition: all .75s ease-in-out;
}

.flip-container, .front, .back {
	height: 150px;
  width:150px;
}



@media(min-width:768px){
  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
    position: relative;
  }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
      transform: rotateY(180deg);
    }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

	 .back {
		transform: rotateX(-180deg);
	}

	.flip-container .flipper {
		transform-origin: 100% 75px; /* half of height */
	}

	.flip-container:hover .flipper {
		transform: rotateX(180deg);
	}
}


