@tailwind base;

@tailwind components;

@tailwind utilities;


/**************************************************************************** TYPOGRAPHY */
p {
  font-size: 20px;
  margin-bottom: 1.15rem;
  line-height:1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 2.75rem 0 .85rem;
}

h1 {
  font-size: 3.052em;
  font-weight: 800;
}

h2 {
  font-size: 2.441em;
  font-weight: 700;
}

h3 {
  font-size: 1.953em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 300;
}

a:not([class]){
  @apply  underline hover:text-green-700 transition duration-300;
}

pre{
  @apply my-8 py-8 px-4 bg-stone-900 bg-opacity-80 rounded-sm shadow-md;
}

code{
  @apply bg-stone-900 bg-opacity-80 text-green-500 rounded-sm p-px;
}


/**************************************************************************** WORK LIST */

.filter.active{
  @apply text-green-600 border-green-600;
}

#work .case-study{
  height: 450px;
}

.case-study-title, .case-study-btn{
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.case-study-title{
  top:10%;
}

.case-study-btn{
  bottom:10%;
}

.case-study-overlay:hover .case-study-title{
  opacity:1;
  top: 22%;
  transition: all 0.5s ease-in-out;
}

.case-study-overlay:hover .case-study-btn{
  opacity:1;
  bottom: 22%;
  transition: all 0.5s ease-in-out;
}


@media (min-width:1024px) {
  .case-study-overlay:hover .case-study-title{
    top: 26%;
  }
  
  .case-study-overlay:hover .case-study-btn{
    bottom: 26%;
  }
}

@media (min-width:1280px) {
  .case-study-overlay:hover .case-study-title{
    top: 22%;
  }
  
  .case-study-overlay:hover .case-study-btn{
    bottom: 22%;
  }
}




/**************************************************************************** ARTICLES */
.article-info{
  opacity:0;
  transform: translateY(20%);
}

.article-info.active{
  opacity:1;
  transform: translateY(0);
  transition: all .75s ease-in-out;
}

.top-white-line{
 width:0;
}

.top-white-line.active{
  width:100%;
  transition: all 1s ease-in-out;
}