{{ define "main" }}

{{ $paginator := .Paginate .Pages }}


<div class="">
  <h1 class="font-normal mb-0 text-4xl md:text-8xl">{{ .Title }}</h1>
  <div class="top-white-line w-full h-px bg-white mt-8 md:mt-24 mb-4"></div>



  {{ $filterList := slice }}

  {{ range .Pages }}
    {{ if ne .Params.draft "true" }}
      {{ range .Params.filters }}
        {{ $filterList = $filterList | append . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $filters := $filterList | uniq }}

  <!-- Work filter options -->
  <div class=" my-8 ">
    <div class="work-filters sm:flex flex-wrap justify-center">
      <p data-filter="*" class="filter font-bold mr-8 pb-2 cursor-pointer border-b border-transparent transition active"> All</p>
    {{ range $filters }}
      <p class="filter whitespace-nowrap font-bold mr-8 pb-2 cursor-pointer border-b border-transparent transition" data-filter=".{{ .| urlize }}">{{ . }}</p>
    {{ end }}
    </div>
  </div>

  <div class="lg:hidden">
    {{ range .Pages }}
      {{ $img := resources.Get .Params.featured_image }}

      <!-- Resize image as a test it's working -->
      {{- $desktop := $img.Resize "1100x" }}
      {{- $mobile := $img.Resize "800x" }}
      <div class="lg:hidden relative w-full min-h-[300px] my-8 bg-center bg-no-repeat" style="background-image:url('{{ $mobile.RelPermalink }}')">
        <div class="flex justify-center items-center absolute top-0 left-0 bottom-0 right-0 bg-black bg-opacity-50">
          <div>
            <div class="text-center px-4">
              <h4 class="inline-block mt-0 text-2xl xs:text-4xl">{{ .Title }}</h4> <br>
              <span class="text-sm xs:text-2xl">{{ delimit .Params.filters " / " }}</span>
            </div>
            
            <div class=" flex justify-center mt-6 md:mt-12">
              <a href="{{ .RelPermalink }}" class="inline-block px-4 py-2 text-center text-sm sm:text-xl border rounded-sm border-white hover:border-green-800 hover:bg-green-800 hover:text-white transition duration-500">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  
  <div id="work">
    {{ range $paginator.Pages }}
      {{ partial "site/work-list" . }}
    {{ end }}
  </div>

</div>

{{ end }}