{{ define "main" }}

{{ $paginator := .Paginate .Pages }}


<div class="">
  <h1 class="font-normal mb-0 text-4xl md:text-8xl">{{ .Title }}</h1>
  <div class="top-white-line w-full h-px bg-white mt-8 md:mt-24 mb-4"></div>



  {{ $filterList := slice }}

  {{ range .Pages }}
    {{ if ne .Params.draft "true" }}
      {{ range .Params.filters }}
        {{ $filterList = $filterList | append . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $filters := $filterList | uniq }}

  <!-- Work filter options -->
  <div class=" my-8 ">
    <div class="work-filters sm:flex flex-wrap justify-center">
      <p data-filter="*" class="filter font-bold mr-8 pb-2 cursor-pointer border-b border-transparent transition active"> All</p>
    {{ range $filters }}
      <p class="filter font-bold mr-8 pb-2 cursor-pointer border-b border-transparent transition" data-filter=".{{ .| urlize }}">{{ . }}</p>
    {{ end }}
    </div>
  </div>
  
  <div id="work">
    {{ range $paginator.Pages }}
      {{ partial "site/work-list" . }}
    {{ end }}
  </div>

</div>

{{ end }}