<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en-us" }}">
    {{ block "head" . }}{{- partial "site/head.html" . -}}{{ end }}
    <body class="relative overflow-x-hidden bg-black bg-site-background bg-opacity-10 text-white">
        <!-- <div class="relative z-40">
          {{ partial "site/bamboo-doors" . }}
        </div> -->
        
        {{ block "primary-navigation " . }}{{ partial "site/primary-nav.html" . }}{{ end }}
        {{ block "header " . }}{{ partial "site/header.html" . }}{{ end }}

        <div class="max-w-screen-2xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
            <div id="content" class="px-5 py-6 sm:px-6">

                {{- block "main" . }}{{- end }}

                {{ range .Params.blocks }}

                    <!-- HP blocks -->
                    {{- if eq .template "b-hp-showcase" -}}{{ partial "blocks/b-hp-showcase" (dict "Params" . "ctx" $.Site ) }}{{- end -}}

                    {{- if eq .template "b-1-column" -}}{{ partial "blocks/b-1-column" (dict "Params" .) }}{{- end -}}

                    {{- if eq .template "b-image-text" -}}{{ partial "blocks/b-image-text" (dict "Params" .) }}{{- end -}}

                    {{- if eq .template "b-full-width-text" -}}{{ partial "blocks/b-full-width-text" (dict "Params" .) }}{{- end -}}

                    {{- if eq .template "b-full-image" -}}{{ partial "blocks/b-full-image" (dict "Params" .) }}{{- end -}}

                    {{- if eq .template "b-work-footer" -}}{{ partial "blocks/b-work-footer" (dict "Params" . "page" $.Page ) }}{{- end -}}
                {{ end }}

                

            </div><!--#content-->
        </div><!--.maxw-->
        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}
        {{ block "site/scripts-foot" . }}{{ partial "site/scripts-foot.html" . }}{{ end }}
    </body>
</html>