<div class="py-24">
  <h2 class="mb-24 text-6xl">{{ .Params.block_headline }}</h2>

  <div class="grid md:grid-cols-3 gap-8 pt-8">

    <div class="border-t border-white">
      <p class="large-text mb-0">01</p>
      <p class="mb-2 text-3xl">{{ .Params.headline_1 }}</p>
      <p>{{ .Params.support_text_1 }}</p>
    </div>

    <div class="border-t border-white">
      <p class="large-text mb-0">02</p>
      <p class="mb-2 text-3xl">{{ .Params.headline_2 }}</p>
      <p>{{ .Params.support_text_2 }}</p>
    </div>

    <div class="border-t border-white">
      <p class="large-text mb-0">03</p>
      <p class="mb-2 text-3xl">{{ .Params.headline_3 }}</p>
      <p>{{ .Params.support_text_3 }}</p>
    </div>

  </div>
</div>