{{ define "main" }}
<div class="">

  <!-- Get image -->
  {{ $img := resources.Get .Params.featured_image }}

  <!-- Resize image as a test it's working -->
  {{- $desktop := $img.Resize "1200x" }}
  {{- $mobile := $img.Resize "800x" }}
  
  <div class="mr-0 float-right clear-both mb-20">
    <span class="text-green-500 text-right float-right">{{ .Date.Format "January 2, 2006" }}</span>
    <h1 class="font-normal text-2xl md:text-8xl text-right pb-4">{{ .Title }}</h1>
    <img src="{{ $desktop.RelPermalink }}" alt="" class="float-right clear-both">
  </div>
  

  <div class="max-w-3xl mx-auto">
    {{ .Content }}

  </div>
</div>

<nav id="next-prev" class="flex flex-wrap mt-24">
 
  <div class="w-full md:w-1/2 mb-12">
    {{ if .PrevInSection }}
      <a class="prev text-2xl hover:text-green-500 transition" href="{{ .PrevInSection.Permalink }}">
        <span class="prev-label mr-4 whitespace-nowrap text-green-500">« Older</span>
        <span class="prev-title">{{ .PrevInSection.Title }}</span>
      </a>
    {{ end }}
  </div>

  <div class="w-full md:w-1/2 md:text-right">
    {{ if .NextInSection }}
      <a class="next text-2xl hover:text-green-500 transition" href="{{ .NextInSection.Permalink }}">
        <span class="next-title mr-4">{{ .NextInSection.Title }}</span>
        <span class="next-label whitespace-nowrap text-green-500">Newer »</span>
      </a>
    {{ end }}
  </div>

</nav>

{{ end }}